<div class="headerHeadline">
    {{#name}}<h1>{{name}}</h1>{{/name}}
    {{#secondaryName}}<h2>{{secondaryName}}</h2>{{/secondaryName}}
    {{#phone}}<h3><span class="tel">{{phone}}</span></h3>{{/phone}}
</div>
