<div class="headerHeadline">
    {{#displayName}}<h1>{{displayName}}</h1>{{/displayName}}
    {{#secondaryName}}<h2>{{secondaryName}}</h2>{{/secondaryName}}
    {{#phone}}<h3><span class="tel">{{phone}}</span></h3>{{/phone}}
</div>
