 <ul>
   {{#_Facebook}}<li class="facebook"><a class="ga-facebook" href="{{.}}" target="_blank">Facebook</a></li><!-- FIX inline-block
-->{{/_Facebook}}{{#_Twitter}}<li class="twitter"><a class="ga-twitter" href="{{.}}" target="_blank">Twitter</a></li><!-- FIX inline-block
-->{{/_Twitter}}{{#_Youtube}}<li class="youtube"><a class="ga-youtube" href="{{.}}" target="_blank">Youtube</a></li><!-- FIX inline-block
-->{{/_Youtube}}{{#_Pinterest}}<li class="pinterest"><a class="ga-pinterest" href="{{.}}" target="_blank">Pinterest</a></li><!-- FIX inline-block
-->{{/_Pinterest}}{{#_GooglePlus}}<li class="googleplus"><a class="ga-googleplus" href="{{.}}" target="_blank">Google+</a></li><!-- FIX inline-block
-->{{/_GooglePlus}}{{#_Instagram}}<li class="instagram"><a class="ga-instagram" href="{{.}}" target="_blank">Instagram</a></li><!-- FIX inline-block
-->{{/_Instagram}}{{#_LinkedIn}}<li class="linkedin"><a class="ga-linkedin" href="{{.}}" target="_blank">LinkedIn</a></li>{{/_LinkedIn}}
 </ul>
